{%extends "searchs/layout.html" %}

{% block head %}
<TItle>Main search</TItle>
{% endblock %}

{% block body %}
    <div id="reference">
        <a href="{% url 'searchs:img' %}"> Search images </a>
        <a style="top:20px" href="{% url 'searchs:adv' %}"> Advanced Search </a>
    </div>
    <h1>Search</h1>
    <div id="fstyle">
    <form action="{% url 'searchs:index' %}" method="post"> 

        {% csrf_token %}
        {{ search }}
        <center>
        <input id="runbtn" type="submit" name="btnA" value="Search">
        <input id="runbtn" type="submit" name="btnI" value="I am Feeling Lucky" class="button">
    </center>
    </form>
    </div>

<!-- https://www.google.com/search?q=youtube&btnI=I%27m+Feeling+Lucky -->

{% endblock %}